{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span> 
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class = "navbar-nav">
            {% for meeting in user.meetings %}
            <div class="meetings">
                <div class="nav-item nav-link" style="display:block">
                    <a>{{ meeting.name }}</a>
                </div>
            </div>
            {% endfor %}
            <div class="meetings">
                <div class="nav-item nav-link" style="display:block">
                    <a>Tester</a>
                </div>
            </div>
            
        </div>
    
        <form name="meetings" id="meetings" method="POST">
            <div align="center">
                <button type="submit" name="button" id="button" value="meeting" class="btn btn-secondary">Add Meeting</button>
            </div>
        </form>
    
    </div>
</nav>

<h1 align="center">Minutes:</h1>
<ul class="list-group list-group-flush" id="minutes">
    {% for minute in user.minutes %}
    <li class="list-group-item">
        <div class="minutes">
            <div class="date">
                <b>{{ minute.date }}</b>
                <br />
            </div>
            <div class="minute">
                {{ minute.subject }}
            </div>
            <div class="minute">
                {{ minute.person }}
            </div>
            <div class="minute">
                {{ minute.info }}
            </div>
            <div class="minute">
                {{ minute.act_by }}
            </div>
            <div class="minute">
                {{ minute.act_req }}
                {{ minute.meeting_id}}
            </div>
            <button type="button" class="close" onClick="deleteMinute({{ minute.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </li>
    {% endfor %}
</ul>

<form name="minutes" id="minutes" method="POST">
    <br />
    <div class="form" style="text-align:center;">
        <div class="form-item" style="display:inline-block;">
            <p>Subject:</p>
            <textarea name="subject" id="subject" class="form-control"></textarea>
        </div>
        <div class="form-item" style="display:inline-block;">
            <p>Person:</p>
            <textarea name="person" id="person" class="form-control"></textarea>
        </div>
        <div class="form-item" style="display:inline-block;">
            <p>Info:</p>
            <textarea name="info" id="info" class="form-control"></textarea>
        </div>
        <div class="form-item" style="display:inline-block;">
            <p>To be actioned by:</p>
            <textarea name="act_by" id="act_by" class="form-control"></textarea>
        </div> 
        <div class="form-item" style="display:inline-block;">
            <p>Actions required:</p>
            <textarea name="act_req" id="act_req" class="form-control"></textarea>
        </div>
        <textarea name="meeting_id" id="meeting_id"></textarea>
    </div>
    <br />
    <div align="center">
        <button type="submit" name="button" id="button" value="minute" class="btn btn-primary">Add Minute</button>
    </div>
</form>
{% endblock %}
