/*not linked*/


.form {
    text-align:center;
}
  
.form * {
    text-align:left;
}
  
.form-item {
    display:inline-block;
}
  
.form-item p {
    text-align:center;
}

.minute-item {
    display:inline-block; 
    width: 180px;
    border-color: black;
    border-width: 0px 1px;
    border-style: solid;
    margin: 0px 5px;
    padding: 0px 10px;
} 

.meeting-item {
    display:inline-block; 
    width: 300px;
    border-width: 0px 0px;
    margin: 0px 5px;
    padding: 0px 10px;
    resize: none;
    text-align: center;
} 

.minutes {
    text-align:center;
}

.meeting-bar {
    text-align:center;
}

.meeting-label, .meeting-date {
    font-weight: 700;
}

.meeting-btn {
    width: 140px;
}

.meeting-name {
    width: 400px;
}