.form {
    text-align:center;
}
  
.form * {
    text-align:left;
}
  
.form-item {
    display:inline-block;
    width: 181px;
}
  
.form-item p {
    text-align:center;
}

.minute-item {
    display:inline-block; 
    width: 160px;
    border-color: black;
    border-width: 0px 1px;
    border-style: solid;
    margin: 0px 5px;
    padding: 0px 10px;
} 

.minutes {
    text-align:center;
}
